.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 100%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding:0;
  position: relative;
}
.timeline-heading {
  padding:20px 30px 10px 30px;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-footer {
  text-align:right;
  vertical-align:bottom;
  font-size:80%;
}
.timeline-back {
	margin-top:10px;
}
.timeline-item-reads  i{
	font-size:80%;
}
.admin-area {
	margin-left:10px;
	margin-right:10px;
}
.timelines_ratingblock {
	margin:0 20px 10px 20px;
	background-color:#ffffff;
}